html {
    height: 100%;

    body {
        margin: 0;
        scroll-behavior: smooth;
        font-family: 'Montserrat', sans-serif;

        section {
            margin: 4rem 0;
        }
    }
}